<!DOCTYPE html>
<html lang="ko">
<head>
  
  <%- include('./meta.ejs'); -%>
  
  <title>What's ddju</title>

  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/about.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/aside.css">

</head>
<body>
  <div class="wrapper" id="top">
    
    <%- include('./header.ejs', { userLoggedIn }); -%>

    <main>
      <div class="wrapper">
        <div class="background">
          <div class="introduce">
            <p class="title">What's DDju</p>
            <p class="title-p">Date는 Deajeon is U</p>
            <p class="content" data-aos="zoom-in"  data-aos-duration="3000">DDju는 데이트와 대전의 슬로건인 Daejeon is U를 합친<br> '데이트는 대전이쥬' 라는 뜻을 담고 있습니다. <br>
            노잼 도시로 알고있는 대전을 많은 연인들이 대전의 가보고 싶은 여행지와 맛집, <br> 데이트 코스를 모두 공유하고 후기를 나눴으면 좋겠다는 <br> 마음으로 만들게 되었습니다.</p>
          </div>
        </div>
      </div>
    </main>  

    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>

  </div>

  <!-- AOS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
     AOS.init({
      duration: 200
     });
  </script>

  <script src="../JS/header.js"></script>
  <script src="../JS/footer.js"></script>
  <script src="../JS/sidebar.js"></script>
</body>
</html>