<!DOCTYPE html>
<html lang="ko">
<head>
      
  <%- include('./meta.ejs'); -%>

  <title>Contact</title>

  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/contact.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/aside.css">

</head>
<body>
  <div class="wrapper" id="top">

    <%- include('./header.ejs', { userLoggedIn }); -%>
    
    <main>
      <video src="../images/team.mp4" autoplay loop></video>
      <div class="profiles-btn">
        <button type="button">click here <i class="fa-solid fa-users"></i></button>
      </div>
      <div class="profile-wrapper">
        <div class="profile">
          <img src="https://avatars.githubusercontent.com/u/132882346?v=4" alt="">
          <h1>SEOWOO CHOI</h1>
          <p>S/W Developer Team Project</p>
          <ul class="contact">
            <li>
              <a href="https://github.com/choiseowu">
                <i class="fab fa-github"></i>
                <span>Click to visit my GitHub </span>
              </a>
            </li>
            <li>
              <i class="far fa-envelope"></i>
              <span>chltjdn95@nate.com</span>
            </li>
          </ul>
        </div>

        <div class="line"></div>

        <div class="txt">
          <p>안녕하세요! 저는 DDju 팀 프로젝트에서 메인페이지 슬라이드, zzim페이지, about페이지, sidebar, 날씨api, 반응형을 맡은 최서우입니다. <br><br> 프로젝트 기간도 짧고 시간도 부족하여 걱정이 많았지만, 팀원 모두 수업시간보다 일찍 강의실에 모여 필요한 자료들을 노션에 공유하고 매일 상의하며 계획했습니다. 첫 프로젝트는 순탄히 잘 진행되는 것 같았으나 Github branch를 배우지 않고 시작했다보니 내용이 점점 많아지자 오류가 나는 상황이 많아졌고, 디자인과 기능들이 저희가 생각 한 만큼 원하는대로 나오지 않았습니다. 그래서 두번째 프로젝트에서는 Github branch를 배우고 한나님이 피그마로 디자인을 기획한 것을 토대로 작업을 시작하여 전보다 쉽게 구성하며 진행되었습니다. <br><br> 페이지를 디자인하고 구현하여 마무리가 되나 싶었지만 API에서 원하는 데이터를 가져오고 생각한 틀에 맞춰 정렬하는 것에 큰 어려움을 겪었습니다. 구글링으로 찾아보기도 하고 전에 수업했던 부분들을 다시 보기도 하며 계속 공부하였습니다. 그럼에도 해결못한 부분들은 팀원분들이 많이 도와주어 해결했습니다. 그렇게 하나하나 새롭게 알게되고 해냈다는 것에 뿌듯함과 성취감을 느끼며 프로젝트를 했습니다. 좋은 팀원들을 만나 모르는 부분들은 서로 소통하고 필요한 자료들을 보내주고 도우며 각자 맡은 바에서도 열심히 했기에 좋은 결과물을 낸 것 같습니다. 감사합니다!</p>
        </div>

        <div class="others">
          <p>click buttons</p>
          <div class="others-btn">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
        </div>
      </div>     
    </main>

    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>

  </div>

  <script src="../JS/header.js"></script>
  <script src="../JS/contact.js"></script>
  <script src="../JS/footer.js"></script>

</body>
</html>