<!DOCTYPE html>
<html lang="ko">
<head>
    
  <%- include('./meta.ejs'); -%>

  <title>DDju</title>

  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/course-daejeon.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/aside.css">

</head>
<body>
  <div class="wrapper" id="top">

    <%- include('./header.ejs', { userLoggedIn }); -%>
    <% console.log(userLoggedIn) %>
    
   <main>
      <div class="course-header">
        <h2 class="title">코스 대전</h2>
        <div class="order">
          <p>인기순</p>
          <p>최신순</p>
        </div>
      </div>

      <div class="course-list">
        <a href="/course-details">
          <div class="course-item">
            <img src="../images/성심당.jpg" alt="맛집">
            <div class="text-box">
              <h3>맛집투어</h3>
            </div>
          </div>
        </a>
        <a href="/course-details">
          <div class="course-item">
            <img src="../images/travel.jpg" alt="사진">
            <div class="text-box">
              <h3>대전 여행 코스</h3>
            </div>
          </div>
        </a>
        <a href="">
          <div class="course-item">
            <img src="../images/travel.jpg" alt="사진">
            <div class="text-box">
              <h3>대전 여행 코스</h3>
            </div>
          </div>
        </a>
        <a href="">
          <div class="course-item">
            <img src="../images/travel.jpg" alt="사진">
            <div class="text-box">
              <h3>대전 여행 코스</h3>
            </div>
          </div>
        </a>
        <a href="">
          <div class="course-item">
            <img src="../images/travel.jpg" alt="사진">
            <div class="text-box">
              <h3>대전 여행 코스</h3>
            </div>
          </div>
        </a>
        <a href="">
          <div class="course-item">
            <img src="../images/travel.jpg" alt="사진">
            <div class="text-box">
              <h3>대전 여행 코스</h3>
            </div>
          </div>
        </a>
      </div>
    </main>

    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>

  </div>

  <script src="../JS/header.js"></script>
  <script src="../JS/footer.js"></script>
  <script src="../JS/sidebar.js"></script>
</body>
</html>