<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="데이트는 대전이쥬~">
  <meta name="keywords" content="대전, 여행, 맛집, 데이트, 기념일, 관광">
  <meta name="author" content="꼬타비, 서우, 한나, Kai">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
  <link rel="manifest" href="./favicon/site.webmanifest">
  <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/6105f934ac.js" crossorigin="anonymous"></script>

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

  <title>DDju 로그인</title>

  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/mypage.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/aside.css">

</head>
  <title>My Page</title>
<body>
  
  <div class="wrapper" id="top">

    <%- include('./header.ejs', { userLoggedIn }); -%>

    <main>
      <h1>My Page</h1>
      <% console.log(user); %>
      <p><%= user.name %> 님, 안녕하세요!</p>
      <h4>내 정보 수정</h4>
      <form action="/edit?_method=PUT" method="POST">
        <div class="form-group">
          <input value="<%= user._id %>" type="text" style="display: none;" name="_id">
          <label for="id" class="inp">
            <input value="<%= user.ID %>" type="text" class="form-control" name="id" placeholder="&nbsp;">
            <span class="label">아이디</span>
            <div class="focus-bg"></div>
          </label>
        </div>
        <div class="form-group">
          <label for="pw" class="inp">
            <input value="<%= user.PW %>" type="password" class="form-control" name="pw" placeholder="&nbsp;">
            <span class="label">비밀번호</span>
            <div class="focus-bg"></div>
          </label>
        </div>
        <button type="submit" class="btn btn-success">수정</button>
      </form>
      <form action="/logout" method="POST">
        <button type="submit">로그아웃</button>
      </form>
      <form action="/delete" method="POST">
        <button type="submit">회원탈퇴</button>
      </form>
    </main>

    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>

  <style>
    /* 포커스 */
    input:focus { outline: none !important; border-color: #AAC4FF; box-shadow: 0 0.5px 3px #AAC4FF; }
  </style>

  <script src="../JS/header.js"></script>
  <script src="../JS/footer.js"></script>

</body>
</html>