<!DOCTYPE html>
<html lang="ko">
<head>
    
  <%- include('./meta.ejs'); -%>

  <title>DDju</title>

  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/search.css">
  <link rel="stylesheet" href="../CSS/today.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/aside.css">

</head>
<body>
  <div class="wrapper" id="top">

    <%- include('./header.ejs', { userLoggedIn }); -%>
    
    <main>
      <!-- search bar -->
      <section>
          <form id="search" action="/search" method="post">
            <div class="search-bar">
              <div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="search-word" name="search" type="text" placeholder="검색어를 입력하세요." value="<%= searchWord.search %>">
              </div>
              <button class="search-btn" type="submit">검색</button>
            </div>
            <div class="search-details-box">
              <p>상세 검색</p>
              <div class="search-details">
                <div class="place">
                  <div class="place-menu inputbox selected">
                    <p>전체</p>
                    <input type="radio" name="placeMenu" value="" checked>
                  </div>
                  <div class="place-menu inputbox">
                    <p>관광지</p>
                    <input type="radio" name="placeMenu" value="12">
                  </div>
                  <div class="place-menu inputbox">
                    <p>맛집</p>
                    <input type="radio" name="placeMenu" value="39">
                  </div>
                  <div class="place-menu inputbox">
                    <p>축제/공연</p>
                    <input type="radio" name="placeMenu" value="15">
                  </div>
                </div>
              
                <div class="inputbox">
                  <select name="district" id="district">
                    <option value="">전체(구)</option>
                    <option value="1">대덕구</option>
                    <option value="2">동구</option>
                    <option value="3">서구</option>
                    <option value="4">유성구</option>
                    <option value="5">중구</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
      </section>

      <!-- date place 검색 결과 -->
      <section>
        <div class="place-header">
          <h2 class="title">데이트 장소</h2>
          <div class="order">
            <div class="order-menu inputbox selected">
              <p>제목순</p>
              <input type="radio" name="order" value="title">
            </div>
            <div class="order-menu inputbox">
              <p>등록일순</p>
              <input type="radio" name="order" value="createdtime">
            </div>
            <div class="order-menu inputbox">
              <p>인기순</p>
              <input type="radio" name="order" value="">
            </div>
          </div>
        </div>

        <div class="place-list">
          <% for(let i = 0; i < search.length; i++) { %>
              <a href="/place-details/<%= search[i]._id %>">
                <div class="place-item">
                  <img src = "<%= search[i].img %>" alt = "<%= search[i].title %>">
                  <div class="text-box">
                    <h3><%= search[i].title %></h3>
                    <p><%= search[i].overview %></p>
                    <ul class="keywords-list">
                      <li>#키워드</li>
                      <li>#키워드</li>
                      <li>#키워드</li>
                      <li>#키워드</li>
                    </ul>    
                  </div>
                </div>
              </a>
          <% } %>
        </div>

        <button type="button" class="place-item-btn">+ 더보기</button>
      </section>
    </main>

    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>
    
  </div>

  
  <script src="../JS/header.js"></script>
  <script src="../JS/search.js"></script>
  <script src="../JS/footer.js"></script>
  <script src="../JS/sidebar.js"></script>

</body>
</html>