<!DOCTYPE html>
<html lang="ko">
<head>

  <%- include('./meta.ejs'); -%>

  <title>DDju</title>

  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/aside.css">
  <link rel="stylesheet" href="../CSS/under-construction.css">

</head>
<body>
  <div class="wrapper" id="top">
    
    <%- include('./header.ejs', { userLoggedIn }); -%>

    <main style="margin-top: 300px; height: 100vh;">
      <div class="construction"></div>
      <br>
      <br>
      <br>
      <h1>site map</h1>
      이미지 또는 링크 지도맵
    </main>

    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>
    
  </div>

  <script src="../JS/header.js"></script>
  <script src="../JS/footer.js"></script>

</body>
</html>