<!DOCTYPE html>
<html lang="ko">
<head>
    
  <%- include('./meta.ejs'); -%>
  
  <title>DDju</title>

  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/today.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/aside.css">

</head>
<body>
  <div class="wrapper" id="top">
    
    <%- include('./header.ejs', { userLoggedIn }); -%>

    <main>
      <div class="place-header">
        <h2 class="title">오늘 뭐보지</h2>
        <ul class="place-menu">
          <li><a href="/today-all">전체</a></li>
          <li><a href="/today-do">관광지</a></li>
          <li><a href="/today-eat">맛집</a></li>
          <li><a href="/today-see" style="color: #AAC4FF;">축제/공연</a></li>
        </ul>
        
        <div class="select">
          <select name="district" id="district">
            <option value="">전체(구)</option>
            <option value="&sigunguCode=1">대덕구</option>
            <option value="&sigunguCode=2">동구</option>
            <option value="&sigunguCode=3">서구</option>
            <option value="&sigunguCode=4">유성구</option>
            <option value="&sigunguCode=5">중구</option>
          </select>
          <div class="order">
            <li class="selected">제목순</li>
            <li>등록일순</li>
            <li>인기순</li>
          </div>
        </div>
      </div>

      <div class="place-list">
      </div>
    </main>

    
    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>
      
  </div>

  <script src="../JS/header.js"></script>
  <script src="../JS/today-see.js"></script>
  <script src="../JS/footer.js"></script>
  <script src="../JS/sidebar.js"></script>

</body>
</html>